nav {
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family: sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#head {
    font-family: fantasy;
    color: black;
    text-decoration: none;
}

#head:hover {
    background-color: aqua;
}

p {
    font-family: cursive;
}
#lol {
    color: gray;
}
